<div class="course-details">
  <!-- Sidebar -->
  <div class="sidebar" [class.shrink]="isSidebarCollapsed">
    <ul>
      <li>
        <div class="menu-toggle" (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
        </div>
      </li>
      <li>
        <a
          (click)="navigateToDashboard()"
          (mouseenter)="changeIcon('dashboard', true)"
          (mouseleave)="changeIcon('dashboard', false)"
        >
          <i class="{{ dashboardIcon }}"></i>
          <span *ngIf="!isSidebarCollapsed">Dashboard</span>
          <span class="tooltip">Dashboard</span>
        </a>
      </li>
      <li>
        <a
          (click)="navigateToCourses()"
          (mouseenter)="changeIcon('courses', true)"
          (mouseleave)="changeIcon('courses', false)"
        >
          <i class="{{ coursesIcon }}"></i>
          <span *ngIf="!isSidebarCollapsed">Courses</span>
          <span class="tooltip">Courses</span>
        </a>
      </li>
      <li>
        <a
          (click)="navigateToStudents()"
          (mouseenter)="changeIcon('students', true)"
          (mouseleave)="changeIcon('students', false)"
        >
          <i class="{{ studentsIcon }}"></i>
          <span *ngIf="!isSidebarCollapsed">Students</span>
          <span class="tooltip">Students</span>
        </a>
      </li>
      <li>
        <a
          (click)="navigateToReports()"
          (mouseenter)="changeIcon('reports', true)"
          (mouseleave)="changeIcon('reports', false)"
        >
          <i class="{{ reportsIcon }}"></i>
          <span *ngIf="!isSidebarCollapsed">Reports</span>
          <span class="tooltip">Reports</span>
        </a>
      </li>
      <li>
        <a
          (click)="navigateToSettings()"
          (mouseenter)="changeIcon('settings', true)"
          (mouseleave)="changeIcon('settings', false)"
        >
          <i class="{{ settingsIcon }}"></i>
          <span *ngIf="!isSidebarCollapsed">Settings</span>
          <span class="tooltip">Settings</span>
        </a>
      </li>
      <li>
        <a
          (click)="logout()"
          (mouseenter)="changeIcon('logout', true)"
          (mouseleave)="changeIcon('logout', false)"
        >
          <i class="{{ logoutIcon }}"></i>
          <span *ngIf="!isSidebarCollapsed">Logout</span>
          <span class="tooltip">Logout</span>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content Wrapper -->
  <div class="main-content-wrapper">
    <!-- Header (Fixed at the top) -->
    <div class="header">
      <div class="header-left">
        <h2 class="logo">
          Welcome,
          <span>{{ userName }}</span>
        </h2>
      </div>

      <!-- Move user-info outside header-left -->
      <div class="user-info">
        <i class="fas fa-bell"></i>
        <img src="{{ imageURL }}" alt="Profile" class="profile-img" />
      </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
      <div class="progress-container">
        <h4>Your Progress: {{ progressPercentage }}%</h4>
        <div class="progress-bar-wrapper">
          <div
            class="progress-bar-fill"
            [style.width.%]="progressPercentage"
          ></div>
        </div>
      </div>
      <div class="course-container">
        <!-- <button
          *ngIf="courseStatus !== 'Completed'"
          (click)="onCompleteClick()"
        >
          Mark as Complete
        </button> -->

        <div class="progress-bar">
          <div class="progress-fill" [style.width.%]="progress"></div>
        </div>

        <!-- Celebration Modal -->
        <div class="modal" *ngIf="showModal">
          <div class="modal-content">
            <h2>🎉 Course Completed!</h2>
            <p>Great job finishing the course!</p>
            <button (click)="closeModal()">Back to Dashboard</button>
            <button>Download Certificate</button>
          </div>
        </div>
      </div>

      <div *ngIf="course" class="course-container">
        <h1>{{ course.title }}</h1>
        <div [innerHTML]="formatSectionContent(course.description)"></div>

        <!--Navigation Buttons-->
        <div class="nav-buttons">
          <button (click)="prevLesson()" [disabled]="lessonIndex === 0">
            ⬅️Previous
          </button>
          <button
            (click)="nextLesson()"
            [disabled]="lessonIndex === course.lessons.length - 1"
          >
            Next➡️
          </button>
          <button
            *ngIf="lessonIndex === course.lessons.length - 1"
            (click)="completeLastLesson()"
          >
            Finish
          </button>
        </div>

        <!--Display Lessons-->
        <div *ngIf="course.lessons.length > 0" class="lesson-container">
          <h2>{{ course.lessons[lessonIndex].title }}</h2>
          <!--Sections-->
          <div *ngFor="let section of course.lessons[lessonIndex].sections">
            <h3>{{ section.heading }}</h3>
            <div [innerHTML]="formatSectionContent(section.content)"></div>
            <img
              *ngIf="section.imageUrl"
              [src]="section.imageUrl"
              alt="Lesson Image"
            />
            <video *ngIf="section.videoUrl" controls>
              <source [src]="section.videoUrl" type="video/mp4" />
              Your browser doent support the video
            </video>
          </div>

          <!-- Quizzes -->
          <div *ngIf="currentLessonQuizzes.length > 0" class="quiz-container">
            <h3>Quiz</h3>
            <!-- Score Summary -->
            <div
              *ngIf="
                checkedQuestions.size ===
                course.lessons[lessonIndex].quizzes.length
              "
              class="score-summary"
            >
              <h6>
                Your Score: {{ correctCount }} /
                {{ course.lessons[lessonIndex].quizzes.length }}
              </h6>
            </div>

            <div
              *ngFor="
                let quiz of course.lessons[lessonIndex].quizzes;
                let i = index
              "
            >
              <p>
                <b>{{ quiz.question }}</b>
              </p>

              <ul>
                <li
                  *ngFor="let option of quiz.options"
                  [ngClass]="{
                    correct:
                      feedback[i] === 'Correct!' && userAnswers[i] === option,
                    incorrect:
                      feedback[i] !== 'Correct!' && userAnswers[i] === option
                  }"
                >
                  <input
                    type="radio"
                    [name]="'quiz' + i"
                    [value]="option"
                    [(ngModel)]="userAnswers[i]"
                    (change)="checkAnswer(i)"
                    [ngClass]="getOptionClass(i, option)"
                  />
                  {{ option }}
                </li>
              </ul>

              <div
                *ngIf="feedback[i]"
                [ngClass]="{
                  correct: feedback[i] === 'Correct!',
                  incorrect: feedback[i] !== 'Correct!'
                }"
              >
                {{ feedback[i] }}
              </div>
            </div>
          </div>

          <!--Navigation Buttons-->
          <div class="nav-buttons">
            <button (click)="prevLesson()" [disabled]="lessonIndex === 0">
              ⬅️Previous
            </button>
            <button
              (click)="nextLesson()"
              [disabled]="lessonIndex === course.lessons.length - 1"
            >
              Next➡️
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
